.page-home__content-watch-tv {
    @include animationLeft();
}

.page-guide {

    width: 100%;
    background-color: var(--gray-200);
    height: auto;
    position: relative;
    @include flex-box(column, flex-start, center);
    padding-bottom: 10%;

}

.list-channels{

    // border: dashed 1px red;
    @include flex-box(row, flex-start, center);
    flex-wrap: wrap;
    width: calc((var(--width-small-channel) *2) + 10px);
    opacity: 1;
    
    @include break-point('768'){
        width: calc((var(--width-medium-channel) *3) + 22px);
    }

    @include break-point('1024'){
        width: calc((var(--width-medium-channel) *4) + 35px);
    }

    @include break-point('1440'){
        width: calc((var(--width-large-channel) *4) + 50px);
    }

    
    &__channel:nth-child(2n+0){

        margin-right: 0;

        @include break-point('768'){
            margin-right: 10px;
        }

        @include break-point('1024'){
            margin-right: 10px;
        }

        @include break-point('1440'){
            margin-right: 16px;
        }
    }

    &__channel:nth-child(3n) {

        @include break-point('768'){margin-right: 0;}

        @include break-point('1024'){margin-right: 10px;}

        @include break-point('1440'){margin-right: 16px;
        }
    }

    &__channel:nth-child(4n+0){

        @include break-point('1024'){
            margin-right: 0;
        }

        @include break-point('1440'){
            margin-right: 0;
        }
    }


    &__channel {

        width: 132px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--gray-800);
        margin-right: 8px;
        margin-bottom: 8px;
        transition: all .2s;
        @include flex-box(column, space-between, center);
        padding-top: 35px;
        padding-bottom: 7px;
        cursor: pointer;

        // a {
        //     border: dashed 1px red;
        //     display: block;
        //     height: 100%;
        //     @include flex-box(column, space-between, center);
        //     padding-top: 35px;
        //     padding-bottom: 7px;
        // }

        &:hover{    
            transform: scale(1.05);
            transition: all .2s;
        }

        @include break-point('768'){
            width: 164px;
            height: 138px;
            margin-right: 10px;
            margin-bottom: 11px;    
        }

        @include break-point('1024'){
            margin-right: 10px;
            margin-bottom: 11px;    
        }

        @include break-point('1440'){
            width: 265px;
            height: 223px;
            margin-bottom: 17px;  
            margin-right: 16px;
        }

    }

    .channel_logo{
        
        width: 80px;
        height: 46px;

        @include break-point('768'){
            width: 100px;
            height: 57px;
        }
        @include break-point('1440'){
            width: 161px;
            height: 92px;
        }
        
    }

    .channel_number {
        @include text-font-regular(14px, var(--gray-300));
        width: 100%;
        text-align: center;
        
        @include break-point('1440'){
            margin-bottom: 24px;
        }
    }

}

// Y CITO !! SACADO DE "edetEAM"
.page-home__content-watch-tv::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
  }
  
  /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
  .page-home__content-watch-tv::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  .page-home__content-watch-tv::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambiamos el fondo cuando esté en active */
  .page-home__content-watch-tv::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .page-home__content-watch-tv::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo cuando esté en active o hover */
  .page-home__content-watch-tv::-webkit-scrollbar-track:hover,
  .page-home__content-watch-tv::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }

// .page {
//     position: absolute;
//     top: 10%;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//   }

.video-player-channels {

    left: -100%;
    display: none;
    z-index: 99999;    
    @include mainPlayer();
    position: absolute;

    .controls-player{
        border: dashed 2px white;
    }

}
.player-channels-hls {
    border: dashed 2px white;
}