.page-home__content-watch-languaje {
    
    // position: fixed;
    // opacity: 0;
    // top: 0;
    // right: 20%;
    // width: 100%;
    // overflow-y: auto;
    // height: 100vh;
    // z-index: 1000;
    // display: none;
    
    @include animationLeft();
    
}

.page-languaje{
    background-color: var(--gray-800);
    width: 100%;
    height: 100vh;
    position: relative;
    @include flex-box(column, flex-start, center);

}

.list-languajes{

    width: 100%;
    height: 100%;
    @include flex-box(column, center, center)

}


// &:nth-child(2){
//     margin-bottom: 40px;
//     @include break-point('1024'){
//         margin-bottom: 48px;
//     }
//     @include break-point('1440'){
//         margin-bottom: 58px;
//     }
// }

.btn__transparent-gray{

    &:hover{
        background-color: var(--gray-200);
        color: var(--black-200);
    }

    &.active{
        &::after{
            content: '';
            width: 32px;
            height: 32px;
            position: absolute;
            right: -40px;
            background: url('../media/icons/check-circle-24-px.svg') no-repeat;
            background-size: 100%;
            cursor: default;
            @include break-point('1024'){
                width: 38px;
                height: 38px;
                right: -48px;
            }

            @include break-point('1440'){
                width: 46px;
                height: 46px;
                right: -58px;
            }
        }
    }


}