@font-face {
    font: {
        family: 'Regular';
        style: normal;
        weight: normal;
    }
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font: {
        family: 'Light';
        style: normal;
        weight: normal;
    }
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font: {
        family: 'Bold';
        style: normal;
        weight: normal;
    }
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font: {
        family: 'SemiBold';
        style: normal;
        weight: normal;
    }
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font: {
        family: 'Medium';
        style: normal;
        weight: normal;
    }
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font: {
        family: 'Italic';
        style: normal;
        weight: normal;
    }
    src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
}